[Unit]
Description=Redroid Android Container
After=docker.service network-online.target
Wants=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/redroid-scripts/redroid-container.sh
ExecStop=/usr/bin/docker stop redroid
TimeoutStartSec=0

[Install]
WantedBy=redroid-cloud-phone.target
