[Unit]
Description=XFCE Desktop Session
After=xvnc.service
Requires=xvnc.service
PartOf=xvnc.service

[Service]
Type=simple
User=waydroid
Group=waydroid

ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash /home/waydroid/.vnc/xstartup

Restart=on-failure
RestartSec=5

Environment=DISPLAY=:1
Environment=HOME=/home/waydroid
Environment=USER=waydroid
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=waydroid-cloud-phone.target
